<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <!-- <header>
            this is header
        </header> -->
        <%- include('_header'); %>
        <h3>
            setting
        </h3>
        <!-- <footer>
            this is footer
        </footer> -->
        <%- include('_footer'); %>
    </body>
</html>